<div>
  <table style="height: 100%; width: 100%;">
    <tr align="center" bottom="middle">
      <td>
        <table>
          <tr>
            <td>
              <div style="width: 100%; height: 100%; display: flex;">
                <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-itens: center;">
                  <div style="background: #F3F3F6 0% 0% no-repeat padding-box; display: flex; flex-direction:column;">
                    <header
                      style="background: #0D84FF; width: 100%; height: 60px; display: flex; flex-direction:column; justify-content: center;">
                      <h1 style="color: #FFFF; align-self: center; font-size: 18px;">Did you forgot your password?</h1>
                    </header>
                    <div style="padding: 0 40px;">
                      <div
                        style="color: #2F3845; width: 520px; margin-bottom: 40px; font: 300 18px Arial; line-height: 1.3; margin-top: 80px;">
                        Hello {{ userName }},
                      </div>
                      <div
                        style="color: #2F3845; width: 520px; margin-bottom: 40px; font: 300 18px Arial; line-height: 1.3;">
                        It looks like a reset password request for your account was requested. <br />
                        If it wasen't you we recommend you to change your email and the allspace password.
                      </div>
                      <div style="margin: 15px 0;">
                        <p style="font-family: 'Fira Sans', Arial, sans-serif; color: #515F75; font-size: 14px;">
                          Click on the button to reset your password
                        </p>
                      </div>
                      <div
                        style="margin-top: 30px !important; padding-left: 0;padding-right: 0;display: flex;width: 100%;">
                        <div style="display: flex;width: 100%;">
                          <a href="{{resetPasswordURL}}"
                            style="color: white; border-radius: 5px; background-color: #0D84FF; float: right; padding: 8px; font-size: 16px;font-family: 'Fira Sans', sans-serif; text-decoration: none;"><b>Reset</b>
                          </a>
                        </div>
                      </div>
                      <div style="width: 600px; height: 140px; border-radius: 15px 15px 15px 15px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
      </td>
    </tr>
  </table>
</div>
